* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 2vw;
  background-color: #ffc66e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  font-family: "PT Sans Narrow", sans-serif;
}

header .logo {
  width: 25vw;
  max-width: 50%;
}
header h1 {
  color: #555151;
  text-transform: uppercase;
  font-size: 4vw;
  letter-spacing: 0.5vw;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  header .logo {
    width: 28vw;
    max-width: 70%;
  }
  header h1 {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 480px) {
  header .logo {
    width: 35vw;
    max-width: 80%;
  }
  header h1 {
    font-size: 5.5vw;
  }
}

/* Hero */
.hero {
  display: flex;
  font-family: "Poppins", sans-serif;
}
.hero .logo {
  width: 40%;
}
.hero .logo img {
  object-fit: cover;
  
  width: 100%;
  height: 100%;
}
.hero .hero-right {
  flex: 1;
  background-color: #fcdccb;
  padding: 4vw 2vw;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 1vw;
}
.hero .hero-right h2 {
  color: rgb(218, 9, 9);
  font-size: 3.5vw;
  font-weight: 800;
}
.hero .hero-right h1 {
  font-size: 5vw;
  font-weight: 900;
}

.hero .hero-right span {
  font-weight: 500;
  font-size: 2.5vw;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .hero .hero-right h2 {
    font-size: 4.5vw;
  }
  .hero .hero-right h1 {
    font-size: 5.5vw;
  }

  .hero .hero-right span {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 480px) {
  .hero .logo {
    width: 45%;
  }

  .hero .hero-right h2 {
    font-size: 5.5vw;
  }
  .hero .hero-right h1 {
    font-size: 6.5vw;
  }

  .hero .hero-right span {
    font-size: 4.5vw;
  }
}
/* Visit Us Banner */
.visit-us {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  text-align: center;
  font-family: "Poppins", sans-serif;

  color: white;
  background-color: #f1b901;
  background-image: url("./assets/visit.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.visit-us h2 {
  font-size: 2.5vw;
}

.visit-us p {
  font-size: 1.8vw;
}
.visit-us button {
  font-size: 1.8vw;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #000;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  padding: 1vw 1.5vw;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .visit-us {
    background-position-x: -5vw;
    background-position-y: 4vw;
  }
  .visit-us h2 {
    font-size: 3.5vw;
  }
  .visit-us p {
    font-size: 2.8vw;
  }
  .visit-us button {
    font-size: 2.8vw;
    padding: 1.5vw 2vw;
  }
}

@media screen and (max-width: 480px) {
  .visit-us {
    background-position-x: -12vw;
    background-position-y: 4vw;
  }
  .visit-us h2 {
    font-size: 4.5vw;
  }
  .visit-us p {
    font-size: 3.8vw;
  }
  .visit-us button {
    font-size: 3.8vw;
    padding: 2vw 3vw;
  }
}

/* Cards */
.cards-heading {
  text-transform: uppercase;
  font-size: 3vw;
  letter-spacing: 5px;
  text-decoration: underline;
  text-align: center;
  margin: 2vw;
  font-family: "Poppins", sans-serif;
}
.cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1vw;
  padding: 0 2vw;
}
.advertising-cost {
  position: absolute;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.3vw;
  font-weight: 600;
  bottom: 9vw;
}
.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
}

.card h1 {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;

  font-size: 2.3vw;
}
.card ul {
  flex: 1;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 0.5vw 3vw;
}

.card ul li {
  font-size: 2vw;
  text-align: center;

  font-family: "PT Sans Narrow", sans-serif;
}
.cards .card button {
  /* position: relative; */
  margin-top: 5vw;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.52);
  width: 90%;
  color: white;
  padding: 0.8vw 1.3vw;
  font-size: 2vw;
  font-weight: 600;
  font-family: "PT Sans Narrow", sans-serif;

  text-transform: capitalize;
  align-self: center;
}

.cards .card:nth-child(1) button {
  background-color: #ffd900;
}
.cards .card:nth-child(2) button {
  background-color: #f68365;
}
.cards .card:nth-child(3) button {
  background-color: #847aac;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .cards-heading {
    font-size: 3.5vw;
  }
  .cards {
    gap: 2vw;
  }
  .advertising-cost {
    font-size: 2vw;
    bottom: 13vw;
  }
  .card {
    flex: 1;
  }

  .card h1 {
    font-size: 3.3vw;
  }
  .card ul {
    padding: 0.5vw 5vw;
  }
  .card ul li {
    font-size: 3.2vw;
  }
  .cards .card button {
    padding: 1.5vw 1.8vw;
    font-size: 3vw;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.52);
  }
}

@media screen and (max-width: 480px) {
  .cards-heading {
    font-size: 4.3vw;
  }
  .cards {
    flex-direction: column;
    gap: 6vw;
    padding: 3vw;
  }
  .advertising-cost {
    display: none;
  }

  .card {
    gap: 2vw;
    border-radius: 15px;
    overflow: hidden;
  }
  .card h1 {
    font-size: 4.8vw;
  }
  .card ul {
    padding: 0.5vw 8vw;
  }
  .card ul li {
    font-size: 4.2vw;
  }
  .cards .card button {
    box-shadow: none;
    padding: 1.5vw 1.8vw;
    font-size: 4.2vw;
  }
}

/* Booking */
.booking {
  display: grid;
  gap: 1vw;
  place-items: center;
  padding: 2vw 3vw;
}
.booking hr {
  background-color: #e7e7e7;
  border: none;
  border-radius: 50px;
  height: 0.5vw;
  width: 40%;
}
.booking h1 {
  font-size: 3.3vw;
  text-transform: capitalize;
  font-family: "Pridi", serif;
}
.booking h1:nth-child(3) {
  letter-spacing: 2vw;
}
.booking button {
  cursor: pointer;
  background-color: #2980cd;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 0.5vw 1vw;
  color: #fff;
  text-transform: capitalize;
  font-size: 2vw;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .booking {
    padding: 4vw 3vw;
  }
  .booking hr {
    height: 0.7vw;
  }
  .booking h1 {
    font-size: 4.5vw;
  }

  .booking button {
    padding: 1vw 2vw;
    font-size: 3vw;
  }
}
@media screen and (max-width: 768px) {
  .booking {
    padding: 3vw;
  }

  .booking h1 {
    font-size: 5.5vw;
  }

  .booking button {
    padding: 1.5vw 2.8vw;
    font-size: 4vw;
  }
}

/* Footer */
footer {
  background-color: #f9f9f9;
  font-family: "Poppins", sans-serif;
  padding: 2vw;
  margin: 0 4vw;
  display: flex;
  gap: 2vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer h1 {
  font-size: 3.2vw;
}
footer .social-media-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}
footer .social-media-links a {
  color: #b8b8b8;
  font-size: 4vw;
}
footer .social-media-links a:hover {
  color: black;
}
footer p {
  font-size: 1.5vw;
}
footer p:nth-of-type(2) {
  color: #b8b8b8;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  footer h1 {
    font-size: 4.5vw;
  }
  footer .social-media-links {
    gap: 4vw;
  }
  footer .social-media-links a {
    color: #b8b8b8;
    font-size: 6vw;
  }

  footer p {
    font-size: 3vw;
  }
}
@media screen and (max-width: 768px) {
  footer h1 {
    font-size: 5.5vw;
  }

  footer .social-media-links a {
    color: #b8b8b8;
    font-size: 7vw;
  }

  footer p {
    font-size: 4vw;
  }
}
